body{
  margin:0px;
  overflow:hidden;
  user-select:none;
}
video{
  max-height:100vh;
  display:block;
}
media-controller {
  max-height:100vh;
  width: 100%;
  height: auto;
}
media-volume-range{
  display:none;
}
.mute:hover ~ .vol{
  display:block;
}
.vol:hover{
  display:block;
}
